header{
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

header ul{
  display: flex;
  padding: 10px 0;
}

header li{
  margin-left: 30px;
  list-style: none;
}

@media screen and (max-width: 600px){
  header{
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }

  header li{
    font-size: 0.8rem;
    margin-left: 20px;
  }

  header li:first-child {
    margin-left: 0;
  }
}