.wrapper{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4% 240px 4%;
}

.page-title{
  text-align: center;
  margin-bottom: 80px;
}

.works-list{
  max-width: 640px;
  margin: 0 auto;
}

.works-list li{
  list-style: none;
}

.works-image{
  width: 640px;
  height: 420px;
  margin-bottom: 20px;
}

.title{
  font-weight: bold;
}

.text{
  margin-bottom: 140px;
}